/node_modules
/public/hot
/public/mix.*
/public/storage
/storage/*.key
/*.key
/*.zip
/vendor
.env
.phpunit.result.cache
storage/.ignore_locales
Homestead.json
Homestead.yaml
package-lock.json
composer.lock
npm-debug.log
yarn-error.log
report.html
_ide_helper_models.php
.phpstorm.meta.php
_ide_helper.php
/*.dat
/*.bat
/.idea
